<body>
    <div class="post-box">
        <h1>Publier un nouveau post !</h1>
        <div class="form">
            <form class="login-form">
                <input [(ngModel)]="titre" name="text" type="text" placeholder="Titre du post" />
                <input [(ngModel)]="description" name="description" type="text" placeholder="poster un text" />
                <input [(ngModel)]="image" name="image" type="file" placeholder="poster une image" />
                <button (click)="newPostSubmit()" class="button">Poster !</button>
            </form>
        </div>
    </div>
</body>