<nav class="navbar">
    <div id="trapezoid">
        <div class="subnav">
            <button class="subnavbtn" [routerLink]="['main']">Groupomania<i class="fa fa-caret-down"></i></button>
        </div>
        <div class="subnav">
            <button class="subnavbtn" [routerLink]="['main']">Publier<i class="fa fa-caret-down"></i></button>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Mon compte<i class="fa fa-caret-down"></i></button>
        </div>
        <div class="subnav">
            <button class="subnavbtn" [routerLink]="['']">Se déconnecter<i class="fa fa-caret-down"></i></button>
        </div>
    </div>
</nav>