<div>
    <div class="user">
        <div>
            <div>
                <img class="photoUser" src="{{dataUser?.photo}}" alt="photo de profil">
            </div>
            <button (click)="clickNewPhoto()"> Changer votre photo </button>
            <input class="changeUserPhoto" (change)="changePhoto($event)" type="file">
            <div *ngIf="photoErrorMessage">
                <p>Vous n'avez pas séléctionné de nouvelle photo !</p>
            </div>
        </div>
        <div class="userName">
            <p>{{dataUser?.nom}}</p>
        </div>
        <div class="userMail">
            <p>{{dataUser?.email}}</p>
        </div>
        <div>
            <input [(ngModel)]="password" name="password" type="password" placeholder="Nouveau mot de passe " />
            <button (click)="changePassword(password)">Changer de mot de passe</button>
            <div *ngIf="ErrorPassword">
                <p>Le mot de passe ne respect pas les conditions. <br>
                    Il doit contenir au moins 8 caractères sans caractères spéciaux
                </p>
            </div>
            <div *ngIf="passwordValidateMessage">
                <p>Votre mot de passe a été modifié !</p>
            </div>
        </div>
        <div (click)="deleteAccount()">
            <button> Supprimer le compte </button>
        </div>
    </div>
    <div class="bandeau">
    </div>
    <div>
        <h1>Mes publications</h1>
        <div>
            <button (click)="clickNewPost()">Envoyer une nouvelle publication</button>
        </div>
        <div *ngFor="let post of data" class="blog-card">
            <div class="meta" (click)="clickNavigate(post.id)">
                <div class="photo" style="background-image: url({{post.image}})">
                </div>
                <ul class="details">
                    <li class="author"><a>{{post.user}}</a></li>
                    <li class="date">{{post.date}}</li>
                </ul>
            </div>
            <div class="description" (click)="clickNavigate(post.id)">
                <h2>{{post.titre}}</h2>
                <p>{{post.description}}</p>
            </div>
            <div class="delete" (click)="clickDelete(post.id, post.image)">
                <a>Supprimer</a>
            </div>
        </div>
    </div>
</div>