<div class="pubContent">
    <div class="pubContent__body">
        <img src="#" alt="cette publication">
        <div class="pubContent__body__icons">
            <img src="#" alt="autor">
        </div>
        <div class="pubContent__comments">
            <span>commentaire</span>
            <div class="pubContent__comments__autor">
                <span>Photo auteur du commentaire</span>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-thumbs-down"></i>
            </div>
        </div>
    </div>
</div>