<body>
    <div class="signup-box">
        <h1>S'inscrire</h1>
        <h4>Le réseau social by Groupomania</h4>
        <form>
            <input [(ngModel)]="nom" name="nom" type="text" placeholder="Nom" />
            <input [(ngModel)]="email" name="email" type="email" placeholder="E-mail" />
            <div *ngIf="show">
                <p class="usedEmail">Adresse email déjà utilisée !</p>
            </div>
            <input [(ngModel)]="password" name="password" type="password" placeholder="Mot de passe" />
            <label for="photo">Votre photo</label>
            <input (change)="changePhoto($event)" type="file">
            <input (click)="signupSubmit()" type="button" class="button" value="Valider" />
        </form>
    </div>
    <p class="para-2" [routerLink]="['/']">
        <a>Vous avez déjà un compte ?</a>
    </p>
</body>