<body>
    <div class="signup-box">
        <h1>S'inscrire</h1>
        <h4>Le résaux social by Groupomania</h4>
        <form>
            <input type="text" placeholder="Nom" />
            <input type="email" placeholder="E-mail" />
            <input type="password" placeholder="Mot de passe" />
            <input type="password" placeholder="Confirmer le mot de passe" />
            <label for="photo">Votre photo</label>
            <input type="file">
            <input type="button" value="Valider" />
        </form>
    </div>
    <p class="para-2">
        <a>Vous avez déjà un compte ?</a>
    </p>
</body>