<div *ngFor="let post of data" class="blog-card">
    <p>{{post.nom}}</p>
    <div class="meta">
        <div class="photo"
            style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
    </div>
    <div class="description">
        <h1>{{post.titre}}</h1>
        <p>{{post.description}}</p>
    </div>
</div>
<div class="comment__container">
    <form action="comment">
        <input type="text" placeholder="Ajouter un commentaire">
        <button>Envoyer</button>
    </form>
    <div *ngFor="let comment of dataComment" class="speech-bubble">
        <p>{{comment.user}}</p>
        <p>{{comment.date}}</p>
        <div>
            <p>{{comment.commentaires}}</p>
        </div>
    </div>
</div>