<div class="blog-card">
    <p>{{data?.nom}}</p>
    <div class="meta">
        <div class="photo" style="background-image: url({{data?.image}})"></div>
    </div>
    <div class="description">
        <h1>{{data?.titre}}</h1>
        <p>{{data?.description}}</p>
    </div>
</div>
<div class="comment__container">
    <form action="comment">
        <input [(ngModel)]="commentaire" name="commentaire" type="text" placeholder="Ajouter un commentaire">
        <button (click)="clickAddComment(commentaire)">Envoyer</button>
    </form>
    <div *ngFor="let comment of dataComment" class="speech-bubble">
        <p>{{comment.user}}</p>
        <p>{{comment.date}}</p>
        <div>
            <p>{{comment.commentaires}}</p>
        </div>
    </div>
</div>