<div *ngFor="let post of data" class="blog-card" [routerLink]="['post']">
    <div class="meta">
        <div class="photo"
            style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
        <!--revoir l'image-->
        <ul class="details">
            <li class="author"><a>{{post.user}}</a></li>
            <li class="date">{{post.date}}</li>
        </ul>
    </div>
    <div class="description">
        <h1>{{post.titre}}</h1>
        <p>{{post.description}}</p>
    </div>
</div>