<form action="signup" class="signup">
    <label class="signup__email">Email<input type="email" required></label>
    <label class="signup__lastname">Nom<input type="text" required></label>
    <label class="signup__firstname">Prénom<input type="text" required></label>
    <label class="signup__password1">Mot de passe<input type="password" required></label>
    <label class="signup__password2">Confirmer mot de passe<input type="password" required></label>
    <label class="signup__photo">Votre photo<input type="file" required></label>
    <button>C'est parti !</button>
</form>